# Ignore live-build temporary and output files
chroot/
cache/
binary/
source/
.build/
*.iso
*.log
*.files
*.packages
*.contents
*.modified_timestamps
*.install
*.live

# Ignore standard temporary files
*~
.DS_Store